---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to Sphere Viewer.'>
  <h1 style="display: flex; justify-content: center; align-items: center; height: 100vh;">Welcome to SC Stadiums Sphere Viewer</h1>
</Layout>
